<p id="notice"><%= notice %></p>

<p>
   <% if @re.image.attached? %>
     <%= image_tag @re.image %>
   <% end %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @re.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @re.address %>
</p>

<p>
  <strong>Related Post:</strong>
  <% Post.all.each do |post|%>
    <% if post.res_id == @re.id %>
      <li>
        <%= link_to post.title, post_path %> (<i><%= post.user.name %></i>)
      </li>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Menu:</strong>
  <% Item.all.each do |item|%>
    <% if item.res_id == @re.id %>
      <li>
        <%= link_to item.name, item_path(item.id) %> (<i><%= item.price %>ドン</i>)
      </li>
    <% end %>
  <% end %>
  <br>
  <%= link_to 'Add new item?', new_item_path(@re.id) %>
</p>

<hr>

<%= link_to 'Edit', edit_re_path(@re) %> |
<%= link_to 'Back', res_path %>
