<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Res:</strong>
  <%= @res[@post.res_id - 1].name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @post.detail %>
</p>

<p>
  <% if @post.image.attached? %>
    <%= image_tag @post.image %>
  <% end %>
</p>

<h2>Comment Form</h2>
 <%= form_with(model: @post_comment, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :comment %>
     <%= form.hidden_field :post_id, :value => @post.id %>
     <%= form.hidden_field :user_id, :value => current_user.id %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
<% end %>

<h2>List comment</h2>
    <ul>
       <% @post.post_comment.each do |each_comment|%>
        <li><%= each_comment.comment %>
          (<i><%= each_comment.user.name %></i>)
        </li>
      <% end %>
    </ul>

<% if @post.user.name == current_user.name %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
